/* header / navbar */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #f2f2f2;
}

.logo {
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;  
  text-transform: uppercase;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 16px;
  color: black;
  padding: 10px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  height: 3px;
  width: 25px;
  background-color: black;
  margin: 5px;
  transition: 0.4s ease;
}

@media screen and (max-width:1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width:768px) {
  body{
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    width: 100%;
    height : 92vh;
    top: 8vh;
    background-color: #f2f2f2;
    /* background-color: rgba(255,255,255,0.20); 
    backdrop-filter: blur (8px); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .hamburger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

.nav-active li {
  opacity: 1;
}

/* Hamburger icon into X */
.change .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}


/* hero section */
.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  text-align: center;
  font-size: x-large; 
}

.hero-text-name {
  background-color: #fde191;  
  color : black;
  text-decoration: none;
}

.hero-text-name a:hover {
  background-color: transparent;
  color : black;
}

.hero-image {
  width: 25%;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* skills section */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 30px;
}

.skills h2 {
  font-size: 32px;
  text-align: center;
  padding-bottom: 40px;
}

.skills-logo {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 50px;
  margin-top: 30px; 
}

.logo-container {
  text-align: center;
  position: relative;
  padding-bottom: 50px;
}

.logo-title {
  font-size: 15px;
  font-weight: bolder;
  position: absolute;
  top: -40px; 
}

@media screen and (max-width: 768px) {
  .skills-logo {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* projects section */
.section-name {
  font-size: 32px;
  text-align: center;
  padding-top: 40px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 50px;
}

.project-cards {
  flex-basis: calc(33.33% - 20px);
  max-width: 400px;
  width: 100%;
  /* height: 700px;  */ /* makes height of all cards same in mobile view */
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
} 

.project-img {
  width :100%;
  height: 300px;
  /* height: 40vh; */
  object-fit: contain;
  border: 2px solid #ddd;
  padding: 10px;
}

.project-info {
  padding: 10px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.project-links a {
  margin-right: 10px;
  background-color: white;
  color: black;
  /* border: 1px solid #fde191; */
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.project-links a:hover, a:active {
  background-color: #fde191;  
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .project-cards {
    flex-basis: 100%;
    /* height :650px;  */ /* setting card height for mobile view */
  }
}


/* about me section */

.about-me-img {
  width: 100%;
  max-width: 900px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.about-me p {
  padding: 10px;
}

@media (max-width: 768px) {
  .about-me-img {
    max-width: 80%; 
  }
}



/* let's connect section */
.lets-connect {
  background-color: #f2f2f2;
  padding: 50px 20px;
  text-align: center;
}
  
.lets-connect h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
  
.lets-connect p {
  font-size: 16px;
  margin-bottom: 40px;
}
  
.social-links a {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  background-color: #333;
  line-height: 45px;
  text-align: center;
  transition: background-color 0.3s;
  text-decoration: none;
}
  
.social-links a:hover {
  background-color: #777;
}
  
 
/* footer copyright section */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;    
 }

.made_with {
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  width: 100%;
  padding-bottom: 0px;
}

.copyright {
  background-color: white;
  color: #777;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  width: 100%;
  /* padding-top: 0px; */
}