
/* hero section */

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 50px;
  text-align: center;
  
}

.hero-text-name {
  background-color: #fde191;  
  color : black;
  text-decoration: none;
}

.hero-text-name a:hover {
  background-color: transparent;
  color : black;
}

.hero-image {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-image img {
  max-width: 100%;
  height: auto;
}

  /* let's connect section */
  .lets-connect {
    background-color: #f2f2f2;
    padding: 50px 20px;
    text-align: center;
  }
  
  .lets-connect h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .lets-connect p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  
  .social-links a {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    background-color: #333;
    line-height: 45px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .social-links a:hover {
    background-color: #777;
  }
  
 
  /* footer copyright section */
  footer {
    background-color: white;
    color: #777;
    padding: 15px;
    text-align: center;
    font-size: 14px;
  }