

  /* let's connect section */
  .lets-connect {
    background-color: #f2f2f2;
    padding: 50px 20px;
    text-align: center;
  }
  
  .lets-connect h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .lets-connect p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  
  .social-links a {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    background-color: #333;
    line-height: 45px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .social-links a:hover {
    background-color: #777;
  }
  
 
  